@media only screen and (max-width: 273px) {
  .panel-1 {
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .detail-container {
    margin-top: 1rem;
  }

  .tab-title {
    width: 70%;
  }

  #closeBtn {
    width: 30%;
  }
}

@media only screen and (max-width: 480px) {
  .panel-1 {
    gap: 0.06rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 720px) {
  .pop-menu {
    width: 90%;
  }

  #closeBtn {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .tile-1 {
    flex-direction: column;
    overflow-x: hidden;
  }

  .panel-1 {
    width: 95%;
  }

  .panel-2 {
    width: 95%;
  }

  .game-card {
    width: 7rem;
    height: 9rem;
  }

  .game-thumbnail {
    width: 5.5rem;
    height: 7rem;
  }

  .game-title {
    font-size: 0.6rem;
  }
}